@use "../../../styles/variables" as *;
@use "susy/sass/susy" as *;

.patientExam {
  .info-box-container {
    margin-top: 24px;
  }

  .patientExamTable {
    margin-top: 50px;
  }
  .printExam__button {
    margin-top: 20px;
    button {
      width: 200px;
    }
  }
}
