@import "../../../styles/variables";

.patientDataForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $c-white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(48, 49, 51, 0.1);
  margin: 60px 0px 60px 0px;
  padding: 20px;

  .patientDataForm__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
  }
  .patientDataForm__item {
    margin: 10px;
  }

  .patientDataForm__buttonSet {
    display: flex;
    align-self: flex-end;
    margin: 0px 40px;
  }
}
