.makeStyles-paper-6 {
    .MuiCardContent-root {
        padding: 5px;
        
    }
    .MuiDialogTitle-root {
        padding-left: 20px;
    }   

    .MuiDialogContent-root {
        padding: 0px;
    }   
}
