@import "../../../styles/variables";
@import "../../../../node_modules/susy/sass/susy";

.visits {
  background-color: $c-white; 
  
  .visits__background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .visits__content {    
    margin-top: 20px;
    width: 80%;
    @include susy-media($narrow) {
      width: 90%;
    }
    @include susy-media($tablet_land) {
      width: 90%;
    }
    @include susy-media($tablet_port) {
      width: 90%;
    }
    @include susy-media($smartphone) {
      width: 90%;
    }
  }

  .footer {
     position: relative;
  }

}
