@import "../../../styles/variables";
@import "../../../../node_modules/susy/sass/susy";

.searchPatient {
  background-color: $c-color-secondary;

  .searchPatient__background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .searchPatient__title {
    font-size: xx-large;
    color: $c-black;
    font-weight: bolder;
    margin: 30px 20px;
  }

  .searchPatient__panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $c-white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(48, 49, 51, 0.1);
    margin: 20px 80px 60px 80px;
    overflow: hidden;
    @include susy-media($smartphone){
      margin: 20px 20px 40px 20px;
    }
  }

  .searchPatient__results_none{
    border: 1px solid $c-color-primary;
    color: $c-color-primary;
    padding: 20px;
    background-color: lighten($c-color-primary, 40%);
    margin-bottom: 50px;

    h4{
      margin: 0px;
    }
  }

  .searchPatient__primary {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: $c-gray;
    width: 100%;
    padding: 50px 30px;
    flex: 0 0 90px;
    @include susy-media($smartphone){
      display: block;
      text-align: center;
      justify-content: initial;
      align-items: initial;
      padding: 25px 25px 50px 25px;
    }
    .row{
      width: 80%;
      flex-wrap: initial;
      @include susy-media($smartphone){
        width: 100%;
        display: block;
        margin: 0px;
      }
    }
    .searchPatient__formItem {
      width: 50%;
      @include susy-media($smartphone){
        width: 100%;
      }
    }
  }

  .searchPatient__primary__divider {
    color: $c-white;
    font-weight: 500;
    padding: 15px 0px 10px 0px;
    margin: 10px;
  }

  .searchPatient__secondary{
    padding-bottom: 35px;
    .searchPatient__formItem {
      width: 35%;
      @include susy-media($smartphone){
        width: 100%;
      }
      .MuiFormControl-marginDense{
        margin: 0px;
      }
    }
    .row{
      @include susy-media($smartphone){
        width: 100%;
        display: block;
        padding: 0px 20px;
        margin: 0px;
      }
    }
  }

  .searchPatient__formItem {
    margin: 5px 10px;
    @include susy-media($smartphone){
      margin: 10px 0px;
    }
    .MuiFormControl-marginDense{
      width: 100%;
      label{
        top: 5px;
      }
      input{
        padding: 15px;
      }
    }
  }

  .searchPatient__buttonContainer {
    position: relative;
    bottom: 20px;
  }

  .searchPatient__button {
    background-color: $c-color-primary !important;
    color: $c-white !important;
    border-radius: 30px;
    height: 45px;
    width: 130px;
  }

  .searchPatient__button__label {
    margin-left: 5px;
    font-size: 13px;
  }

  .searchPatient__info {
    margin: 20px;
    @include susy-media($smartphone){
      text-align: center;
      margin: 0px 20px 20px;
    }
  }

  .searchPatient__results {
    .searchPatient__results_list {
      display: flex;
      flex: 0 1 auto;
      flex-wrap: wrap;
      margin: 0px 20px 60px 20px;
      @include susy-media($smartphone){
        margin: 0px 10px 40px 10px;
      }
    }
    .searchPatient__results_count{
      font-size: x-large;
      margin-bottom: 30px;
      margin-left: 20px;
      @include susy-media($smartphone){
        margin-left: 10px;
      }
    }
  }

  .footer{
    position: relative;
  }
}

.patientSearchItem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  @include susy-media($smartphone){
    padding: 0px;
  }

  .patientSearchItem__panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $c-white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(48, 49, 51, 0.1);
    overflow: hidden;
    width: 100%;
    cursor: pointer;
  }

  .patientSearchItem__header {
    display: flex;
    justify-content: space-evenly;
    background-color: $c-gray;
    width: 100%;
    padding: 15px 0px 15px 0px;
    color: $c-white;
    font-size: small;
  }

  .patientSearchItem__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
  }

  .patientSearchItem__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .patientSearchItem__profile__name {
    margin: 15px 0px;
    font-size: small;
  }

  .patientSearchItem__profile__admission{
    font-size: small;
    margin-top: 15px;
  }

  .patientSearchItem__divider {
    width: 100%;
    background-color: $c-gray;
    height: 1px;
    margin-bottom: 20px;
    opacity: 0.1;
  }

  .patientSearchItem__info {
    margin: 5px 0px 5px 25px;
    font-size: small;
    text-align: left;
  }
}
