@import "../../../styles/variables";

.searchPatient {
  background-color: $c-color-secondary;

  .searchPatient__background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .searchPatient__title {
    font-size: xx-large;
    color: $c-black;
    font-weight: bolder;
    margin: 30px 20px;
  }

  .searchPatient__panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $c-white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(48, 49, 51, 0.1);
    margin: 20px 20px 60px 20px;
    padding: 0px 20px 20px 20px;
    overflow: hidden;
  }

  .searchPatient__primary {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: $c-gray;
    width: 100%;
    padding: 30px;
    flex: 0 0 90px;
  }

  .searchPatient__primary__textField {
    .MuiFormLabel-root {
      color: $c-white;
    }
    .MuiOutlinedInput-notchedOutline {
      border-color: $c-white;
    }

    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
      border-color: #eeeeee;
    }

    .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
      border-color: #ffcc80 !important;
    }

    .MuiInputBase-input {
      color: $c-white !important;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      box-shadow: 0 0 0 30px $c-gray inset !important;
      -webkit-box-shadow: 0 0 0 30px $c-gray inset !important;
      -webkit-text-fill-color: $c-white !important;
    }

    .MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
      border-color: $c-error-light !important;
    }

    .MuiFormHelperText-root.Mui-error {
      color: $c-error-light !important;
    }
  }

  .searchPatient__primary__divider {
    color: $c-white;
    font-weight: 500;
    padding: 10px 0px 10px 0px;
    margin: 10px;
  }

  .searchPatient__formItem {
    margin: 5px 10px;
  }

  .searchPatient__buttonContainer {
    position: relative;
    bottom: 20px;
  }

  .searchPatient__button {
    background-color: $c-color-primary !important;
    color: $c-white !important;
    border-radius: 30px;
    height: 45px;
    width: 130px;
  }

  .searchPatient__button__label {
    margin-left: 5px;
    font-size: 13px;
  }

  .searchPatient__info {
    margin: 20px;
  }

  .searchPatient__results {
  }
}
