@import "../../../styles/variables";

.searchPatient {
  background-color: $c-color-secondary;

  .searchPatient__background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .searchPatient__title {
    font-size: xx-large;
    color: $c-black;
    font-weight: bolder;
    margin: 30px 20px;
  }

  .searchPatient__panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $c-white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(48, 49, 51, 0.1);
    margin: 20px 20px 60px 20px;
    padding: 0px 20px 20px 20px;
    overflow: hidden;
  }

  .searchPatient__primary {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $c-gray;
    width: 100%;
    padding: 30px;
  }

  .searchPatient__primary__divider {
    color: $c-white;
    font-weight: 500;
    margin: 10px;
  }

  .searchPatient__formItem {
    margin: 5px 10px;
  }

  .searchPatient__button {
    position: relative;
    bottom: 20px;
  }

  .searchPatient__info {
    margin: 20px;
  }

  .searchPatient__results {
  }
}
