@import "../../../styles/variables";
@import "../../../../node_modules/susy/sass/susy";

.searchBills {
  background-color: $c-color-secondary;

  .container {
    @include susy-media($tablet_land) {
      width: 100%;
    }
    @include susy-media($tablet_port) {
      width: 100%;
    }
    @include susy-media($smartphone) {
      width: 100%;
    }
  }

  .searchBills__background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .searchBills__title {
    font-size: xx-large;
    color: $c-black;
    font-weight: bolder;
    margin: 30px 20px;
  }

  .searchBills__panel {
    display: flex;
    align-items: stretch;
    background-color: $c-white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(48, 49, 51, 0.1);
    margin: 20px 20px 40px 20px;
    overflow: hidden;
    @include susy-media($smartphone) {
      display: block;
      align-items: initial;
      background-color: transparent;
      margin: 40px 20px 80px 20px;
      border-radius: initial;
      box-shadow: initial;
    }
  }


  .searchBills__content {
    flex: 3;
    display: flex;
    flex-direction: column;
    @include susy-media($smartphone) {
      display: block;
      flex: initial;
      margin-top: 35px;
      border-radius: 10px;
      padding: 40px 25px 25px;
      flex-direction: initial;
      background-color: $c-white;
      box-shadow: 0 4px 8px 0 rgba(48, 49, 51, 0.1);
    }
  }

  .searchBills__content__header {
    background-color: #f5f5f5;
  }

  .footer {
    position: relative;
  }
    
  .active {
    background-color: lighten($c-gray, 10);
  }

}

  
