@import "../../../styles/variables";
@import "../../../../node_modules/susy/sass/susy";

.filterBillForm {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .filterBillForm__item {
    //background-color: $c-grey-lighter;
    padding: 0px 10px;
    width: 100%;
    @include susy-media($narrow) {
      padding: 0px 10px;
    }
    @include susy-media($tablet_land) {
      padding: 0px 10px;
    }
    @include susy-media($tablet_port) {
      width: 50%;
    }
    @include susy-media($smartphone) {
      width: 100%;
    }
    .dateField,
    .textField,
    .selectField .autocompleteField {
      width: 100%;
      
    }

    &.fullWidth {
      width: 100%;
    }

    &.compressed {
      .textField {
        float: left;
        width: 50%;
        &:nth-of-type(1) {
          padding-right: 10px;
        }
      }
    }
  }

  .filterForm__buttonSet {
    width: 50%;
    margin: 0 auto;
    @include susy-media($smartphone_small) {
      display: block;
    }

    .submit_button{
      margin-top: 5px;
      .MuiButton-label {
        font-size: smaller;
        letter-spacing: 1px;
        font-weight: 600;
      }
      button {
        @include susy-media($smartphone_small) {
          width: 100%;
        }
      }
    }
  }


}
