@import "../../../styles/variables";

// .buttonGroup {

.span {
  background-color: $c-color-primary !important;
  color: $c-white !important;
  height: 30px !important;
  width: 60px !important;
}

.ohsplitbutton {
  background-color: $c-color-primary !important;
  color: $c-white !important;
  border-radius: 30px !important;
  height: 30px !important;
  width: 60px !important;
  margin: 10px !important;
}

.button__label {
  font-size: 9px !important;
  font-weight: bold;
}
.ArrowDropDownIcon {
  background-color: $c-color-primary;
}
