@use "../../../../styles/variables" as *;
@use "susy/sass/susy" as *;

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .pie {
        flex: 1;
    }
    .summary {
        flex-grow: 0;
    }
}