$c-color-primary: #fc1812;
$c-color-secondary: #f8f4f4;

$c-white: #fff;
$c-black: #031833;
$c-gray: #444444;
$c-grey-light: #77869e;
$c-grey-lighter: #bdbdbd;

$c-error-light: #ff8a65;
// $c-error: #d50000;

$smartphone_small: 320px 400px;
$smartphone_big: 401px 767px;
$phone: 320px 474px;
$phablet: 475px 767px;

$smartphone: 320px 767px;
$tablet_land: (
  min-width: 768px,
  max-width: 1024px,
  orientation: landscape,
);
$tablet_port: (
  min-width: 768px,
  max-width: 1024px,
  orientation: portrait,
);
$narrow: 1025px 1200px;
$wide: 1201px 1440px;
$big: 1441px;
