$c-color-primary: #fc1812;
$c-color-secondary: #f8f4f4;

$c-white: #fff;
$c-black: #031833;
$c-gray: #444444;
$c-grey-medium: #808080;
$c-grey-light: #77869e;
$c-grey-lighter: #c0c0c0;
$c-dark: rgba(48, 49, 51);

$c-error-light: #ff8a65;

$c-color-info: #008000;
$c-green: #00ff00;
$c-red: #f00;

$c-info: #234479;
$c-warning: #896110;
$c-info-light: #c4d4ef;
$c-warning-light: #f7e3bb;

$smartphone_small: 320px 400px;
$smartphone_big: 401px 767px;
$phone: 320px 474px;
$watch: (
  max-width: 320px,
);
$medium: (
  max-width: 1280px,
);
$medium-up: (
  min-width: 768px,
);
$medium-down: (
  max-width: 767px,
);
$large: (
  min-width: 1025px,
);
$phablet: 475px 767px;

$smartphone: 320px 767px;
$tablet_land: (
  min-width: 768px,
  max-width: 1024px,
  orientation: landscape,
);
$tablet_port: (
  min-width: 768px,
  max-width: 1024px,
  orientation: portrait,
);
$narrow: 1025px 1200px;
$wide: 1201px 1440px;
$big: 1441px;

$base-spacing: 0.5rem;

$spacing-scale: (
  0: 0,
  0\.5: 0.125rem,
  1: 0.25rem,
  1\.5: 0.375rem,
  2: 0.5rem,
  2\.5: 0.625rem,
  3: 0.75rem,
  3\.5: 0.875rem,
  4: 1rem,
  5: 1.25rem,
  6: 1.5rem,
  8: 2rem,
  10: 2.5rem,
  12: 3rem,
  16: 4rem,
  20: 5rem,
  24: 6rem,
  32: 8rem,
  40: 10rem,
  48: 12rem,
  56: 14rem,
  64: 16rem,
);

$breakpoints: (
  xs: 480px,
  // Extra small phones
  sm: 640px,
  // Small devices
  md: 768px,
  // Tablets
  lg: 1024px,
  // Small laptops
  xl: 1280px,
  // Desktops
  2xl: 1536px,
  // Large desktops
  3xl: 1728px,
  // WQHD (1440p wide)
  4xl: 1920px,
  // Full HD
  5xl: 2160px,
  // 2K
  6xl: 2400px,
  // Ultrawide
  7xl: 2880px,
  // 3K+
  8xl: 3840px // 4K and beyond,,,,,,
);

$fractions: (
  // Full
  "1\/1": 100%,

  // Halves
  "1\/2": 50%,

  // Thirds
  "1\/3": 33.333333%,
  "2\/3": 66.666667%,

  // Quarters
  "1\/4": 25%,
  "2\/4": 50%,
  "3\/4": 75%,

  // Fifths
  "1\/5": 20%,
  "2\/5": 40%,
  "3\/5": 60%,
  "4\/5": 80%,

  // Sixths
  "1\/6": 16.666667%,
  "2\/6": 33.333333%,
  "3\/6": 50%,
  "4\/6": 66.666667%,
  "5\/6": 83.333333%,

  // Eighths
  "1\/8": 12.5%,
  "2\/8": 25%,
  "3\/8": 37.5%,
  "4\/8": 50%,
  "5\/8": 62.5%,
  "6\/8": 75%,
  "7\/8": 87.5%,

  // Tenths
  "1\/10": 10%,
  "2\/10": 20%,
  "3\/10": 30%,
  "4\/10": 40%,
  "5\/10": 50%,
  "6\/10": 60%,
  "7\/10": 70%,
  "8\/10": 80%,
  "9\/10": 90%,

  // Twelfths
  "1\/12": 8.333333%,
  "2\/12": 16.666667%,
  "3\/12": 25%,
  "4\/12": 33.333333%,
  "5\/12": 41.666667%,
  "6\/12": 50%,
  "7\/12": 58.333333%,
  "8\/12": 66.666667%,
  "9\/12": 75%,
  "10\/12": 83.333333%,
  "11\/12": 91.666667%
);

$font-sizes: (
  xs: 0.75rem,
  // 12px
  sm: 0.875rem,
  // 14px
  base: 1rem,
  // 16px
  lg: 1.125rem,
  // 18px
  xl: 1.25rem,
  // 20px
  "2xl": 1.5rem,
  // 24px
  "3xl": 1.875rem,
  // 30px
  "4xl": 2.25rem,
  // 36px
  "5xl": 3rem,
  // 48px
  "6xl": 3.75rem,
  // 60px
  "7xl": 4.5rem,
  // 72px
  "8xl": 6rem // 96px,
);
