@import "./flexboxgrid";
@import "./variables";
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.App {
  & > div {
    height: 100vh;
  }

  [class*="Form"],
  .tabs_header,
  .MuiIconButton-root,
  .MuiButton-root,
  .MuiSvgIcon-root {
    @media print {
      display: none !important;
    }
  }
}
