@import "../../../../styles/variables";

.menu {
  display: flex;
  flex-direction: column;
  padding: 8px 0px;
  overflow: auto;
}

.label {
  margin: 4px 0px;
  padding-left: 24px;
  color: $c-grey-medium;
  font-weight: bold;
}

.hospitalData {
  display: flex;
  flex-direction: column;
  padding: 12px 8px 8px 24px;
  gap: 8px;
}

.item {
  display: flex;
  flex-direction: column;
  color: $c-white;
}

.labelSmall {
  font-size: medium;
}

.value {
  font-size: large;
  font-weight: 900;
}
