@import "../../../styles/variables";

.button {
  padding: 10px 32px !important;
}

.dashboard-download-action {
  display: flex;
  align-items: center;
}

.download-link {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  width: 100%;

  .MuiListItemIcon-root {
    min-width: 30px !important;
  }
}
