@import "../../../styles/variables";

.a {
  // background-color: $c-color-primary !important;
  color: red !important;
  // height: 40px;
  // width: 250px;
  // border: none;
}

.SvgIcon {
  color: red !important;
  border: none;
}
