@import "../../../styles/variables";

.infoBox {
  padding: 10px 20px;
  margin: auto;
  position: relative;
  border-radius: 5px;
  &.info {
    color: $c-info;
    border: 1px solid $c-info-light;
  }
  &.error {
    color: $c-color-primary;
    border: 1px solid $c-error-light;
  }
  &.warning {
    color: $c-warning;
    border: 1px solid $c-warning-light;
  }

  h5 {
    margin: 0px;
    display: inline-flex;
    align-items: center;
    opacity: 0.8;
  }
}
