@import "../../../styles/variables";
@import "../../../../node_modules/susy/sass/susy";
.patients__bills {
  .bill_details {
    ul {
      white-space: nowrap;
      overflow-x: hidden;
      margin-left: 0;
      padding-left: 0;
    }
    li span .MuiTypography-h5 {
      padding-left: 0;
      margin-left: 0;
      display: inline;
      text-decoration: none;
      color: darken($c-gray, 25%);
    }
    .label {
      font-weight: bold;
    }
  }

  .filterBillForm {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .MuiAccordionSummary-content {
      svg {
        position: relative;
        top: -2px;
      }
      h5 {
        margin: 0px 10px;
      }
    }
    .filterBillForm__form {
      width: 100%;
    }
    .filterBillForm__item {
      //background-color: $c-grey-lighter;
      padding: 0px 3px;
      width: 14.28%;
      @include susy-media($narrow) {
        width: 50%;
      }
      @include susy-media($tablet_land) {
        width: 50%;
      }
      @include susy-media($tablet_port) {
        width: 50%;
      }
      @include susy-media($smartphone) {
        width: 100%;
      }
      .dateField,
      .textField,
      .selectField .autocompleteField {
        width: 100%;
      }

      &.fullWidth {
        width: 100%;
      }

      &.compressed {
        .textField {
          float: left;
          width: 50%;
          &:nth-of-type(1) {
            padding-right: 10px;
          }
        }
      }
    }
    .filterForm__buttonSet {
      display: flex;
      justify-content: right;
      align-items: right;
      margin: 0 auto;
      line-height: 1.75;
      @include susy-media($smartphone_small) {
        display: block;
      }

      .submit_button {
        margin-top: 10px;
        .MuiButton-label {
          font-size: 0.7rem;
          letter-spacing: 1px;
          font-weight: 600;
        }
        button {
          @include susy-media($smartphone_small) {
            width: 100%;
          }
        }
      }
    }
  }
  .bills__table {
    padding: 20px 0px;
  }
}
