@use "../../../styles/variables" as *;
@use "susy/sass/susy" as *;

.dateRangeField {
  display: flex;
  gap: 4px;
  align-items: center;

  @include susy-media($smartphone) {
    flex-direction: column;
  }
}
