@import "../../../styles/variables";

.profilePicture {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -30px;
}

.profilePicture_mask {
  display: flex;
  justify-content: center;
  object-fit: cover;
  border-radius: 100px;
  height: 140px;
  width: 140px;
  overflow: hidden;
  position: relative;
}

.profilePicture_editIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  height: 30px;
  width: 30px;
  background-color: $c-color-primary;
  position: relative;
  bottom: 30px;
  left: 40px;
  border-style: solid;
  border-width: medium;
  border-color: white;
}

.profilePicture img {
  width: 100%;
  height: auto;
  overflow: hidden;
  object-fit: cover;
}
