@import "../../../styles/variables";
@import "../../../../node_modules/susy/sass/susy";

.patientDetils__content_header {
  font-size: large;
  font-weight: 500;
  margin-bottom: 30px;
  h3{
    margin: 0px;
  }
}

.patientDetils__content_body {
  
}