@import "../../../styles/variables";
@import "../../../../node_modules/susy/sass/susy";

.bills__recap {
  .bills__recap__title {
    font-size: xx-large;
    color: $c-black;
    font-weight: bolder;
    margin-bottom: 25px;
    @include susy-media($tablet_port) {
      font-size: x-large;
    }
    @include susy-media($smartphone) {
      margin: 15px 0px 25px 0px;
      font-size: x-large;
    }
  }
  .bills__recap__content {
    .bills__recap__items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 50px;
      .bills__recap__item {
        width: 20%;
        margin-top: 50px;
        @include susy-media($tablet_land) {
          width: 33%;
        }
        @include susy-media($tablet_port) {
          width: 50%;
        }
        @include susy-media($smartphone) {
          width: 50%;
        }
        &.inline {
          width: 100%;
        }
      }
    }
    canvas {
      padding: 5px;
    }
    .year__picker {
      width: 100%;
      padding: 20px;
      background: #eee;
      .selectField {
        display: flex;
        width: 200px;
        align-content: flex-start;
        margin-top: 0px;
      }
    }

    .info-box-container {
      flex: 1 1 auto;
      margin-top: 24px;
      display: flex;
      .infoBox {
        display: inline-block;
        width: 100%;
      }
    }
  }
}
