.accordion{
  
  .accordion_summary{
    padding: 0px 20px 10px;
    position: relative;
    cursor: pointer;

    .icon_toggle{
      position: absolute;
      top: 0px;
      right: 15px;
      width: 20px;
      transition: transform 0.25s ease-in-out;
    }
  }

  .accordion_details{
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;
  }

  &.expanded{
    .accordion_summary{
      .icon_toggle{
        transform: rotate(180deg);
      }
    }
    .accordion_details{
      max-height: 850px;
      overflow: auto;
    }
  }
}