@import "../../../../styles/variables";
@import "../../../../../node_modules/susy/sass/susy";


.itemPicker {
    display: flex;
    flex-flow: column;
    justify-content: start;
    padding: 1em;
    row-gap: 1em;
    & > #first {
        display: flex;
        justify-content: center;
        .checked:hover, .MuiRadio-root:hover {
            color: $c-color-primary !important;
        }
        .checked, .checked .MuiRadio-root {
            color: $c-color-primary !important;
        }
    }
    & > #second {
        display: flex;
        flex-flow: column;
        row-gap: .5em;
        .textField {
            width: 100%;
            input {
                height: 1.5em;
            }
        }
        .autocomplete input {
            height: 1.5em;
        }
    }

    & > #third {
        display: flex;
        justify-content: center;
        column-gap: 2em;
    }
}
