@import "../../../../styles/variables";
@import "../../../../../node_modules/susy/sass/susy";


.itemPicker {
    display: flex;
    flex-flow: column;
    justify-content: start;
    padding: 1em;
    height: 320px;
    & > #first {
        display: flex;
        .checked:hover, .MuiRadio-root:hover {
            color: $c-color-primary !important;
        }
        .checked, .checked .MuiRadio-root {
            color: $c-color-primary !important;
        }
    }

    & > #second {
        display: flex;
        flex-flow: column;
        .textField {
            height: 1px;
            width: 100%;
        }
    }

    & > #third {
        display: flex;
        
    }
}
