@import "../../../styles/variables";

.dateField {
  height: 60px;
  width: 250px;
  label{
    top: 5px;
    font-size: smaller;
    &.MuiFormLabel-filled,
    &.Mui-focused{
      top: 2px;
    }
  }
  input{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: smaller;
  }
}