@import "../../../styles/variables";

.login {
  .login__background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $c-color-secondary;
  }
  .login__panel {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $c-white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(48, 49, 51, 0.1);

    .login__panel__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 50px 0px;
    }
    .login__panel__logo {
      margin: 30px;
    }

    .login__panel__form {
      width: 100%;
      margin: 30px 0px;
    }
  }
}
