@use "../../../styles/variables" as *;
@use "susy/sass/susy" as *;

.patientOpd {
  .patientOpdTable {
    margin-top: 50px;
  }
  .printTriage__button {
    margin-top: 20px;
    button {
      width: 200px;
    }
  }
}
