swagger: "2.0"
info:
  description: OH 2.0 Api Documentation
  version: "1.0"
  title: OH 2.0 Api Documentation
  termsOfService: "urn:tos"
  contact: {}
  license:
    name: Apache 2.0
    url: "http://www.apache.org/licenses/LICENSE-2.0"
host: www.open-hospital.org
basePath: /oh-api
tags:
  - name: admission-controller
    description: Admission Controller
  - name: admission-type-controller
    description: Admission Type Controller
  - name: age-type-controller
    description: Age Type Controller
  - name: bill-controller
    description: Bill Controller
  - name: delivery-result-type-controller
    description: Delivery Result Type Controller
  - name: delivery-type-controller
    description: Delivery Type Controller
  - name: discharge-type-controller
    description: Discharge Type Controller
  - name: disease-controller
    description: Disease Controller
  - name: disease-type-controller
    description: Disease Type Controller
  - name: exam-controller
    description: Exam Controller
  - name: exam-row-controller
    description: Exam Row Controller
  - name: exam-type-controller
    description: Exam Type Controller
  - name: examination-controller
    description: Examination Controller
  - name: hospital-controller
    description: Hospital Controller
  - name: laboratory-controller
    description: Laboratory Controller
  - name: login-api
    description: Login Api
  - name: malnutrition-controller
    description: Malnutrition Controller
  - name: med-stock-movement-type-controller
    description: Med Stock Movement Type Controller
  - name: medical-controller
    description: Medical Controller
  - name: medical-stock-ward-controller
    description: Medical Stock Ward Controller
  - name: medical-type-controller
    description: Medical Type Controller
  - name: opd-controller
    description: Opd Controller
  - name: patient-controller
    description: Patient Controller
  - name: permission-controller
    description: Permission Controller
  - name: reports-controller
    description: Reports Controller
  - name: sms-controller
    description: Sms Controller
  - name: stock-movement-controller
    description: Stock Movement Controller
  - name: supplier-controller
    description: Supplier Controller
  - name: therapy-controller
    description: Therapy Controller
  - name: user-controller
    description: User Controller
  - name: vaccine-controller
    description: Vaccine Controller
  - name: vaccine-type-controller
    description: Vaccine Type Controller
  - name: visits-controller
    description: Visits Controller
  - name: ward-controller
    description: Ward Controller
schemes:
  - https
paths:
  /admissions:
    get:
      tags:
        - admission-controller
      summary: getPatientAdmissions
      operationId: getPatientAdmissionsUsingGET
      produces:
        - application/json
      parameters:
        - name: patientcode
          in: query
          description: patientcode
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/AdmissionDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    post:
      tags:
        - admission-controller
      summary: newAdmissions
      operationId: newAdmissionsUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: newAdmissionDTO
          description: newAdmissionDTO
          required: true
          schema:
            $ref: "#/definitions/AdmissionDTO"
      responses:
        "200":
          description: OK
          schema:
            type: integer
            format: int32
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    put:
      tags:
        - admission-controller
      summary: updateAdmissions
      operationId: updateAdmissionsUsingPUT
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: updAdmissionDTO
          description: updAdmissionDTO
          required: true
          schema:
            $ref: "#/definitions/AdmissionDTO"
      responses:
        "200":
          description: OK
          schema:
            type: integer
            format: int32
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  /admissions/admittedPatients:
    get:
      tags:
        - admission-controller
      summary: getAdmittedPatients
      operationId: getAdmittedPatientsUsingGET
      produces:
        - application/json
      parameters:
        - name: admissionrange
          in: query
          description: admissionrange
          required: false
          type: string
        - name: dischargerange
          in: query
          description: dischargerange
          required: false
          type: string
        - name: searchterms
          in: query
          description: searchterms
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/AdmittedPatientDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  /admissions/current:
    get:
      tags:
        - admission-controller
      summary: getCurrentAdmission
      operationId: getCurrentAdmissionUsingGET
      produces:
        - application/json
      parameters:
        - name: patientcode
          in: query
          description: patientcode
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AdmissionDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  /admissions/getBedsOccupationInWard:
    get:
      tags:
        - admission-controller
      summary: getUsedWardBed
      operationId: getUsedWardBedUsingGET
      produces:
        - application/json
      parameters:
        - name: wardid
          in: query
          description: wardid
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: integer
            format: int32
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  /admissions/getNextProgressiveIdInYear:
    get:
      tags:
        - admission-controller
      summary: getNextYProg
      operationId: getNextYProgUsingGET
      produces:
        - application/json
      parameters:
        - name: wardcode
          in: query
          description: wardcode
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: integer
            format: int32
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/admissions/{id}":
    get:
      tags:
        - admission-controller
      summary: getAdmissions
      operationId: getAdmissionsUsingGET
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AdmissionDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    delete:
      tags:
        - admission-controller
      summary: deleteAdmissionType
      operationId: deleteAdmissionTypeUsingDELETE
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          schema:
            type: boolean
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
        - JWT: []
      deprecated: false
  /admissiontypes:
    get:
      tags:
        - admission-type-controller
      summary: getAdmissionTypes
      operationId: getAdmissionTypesUsingGET
      produces:
        - application/json
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/AdmissionTypeDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    post:
      tags:
        - admission-type-controller
      summary: newAdmissionType
      operationId: newAdmissionTypeUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: admissionTypeDTO
          description: admissionTypeDTO
          required: true
          schema:
            $ref: "#/definitions/AdmissionTypeDTO"
      responses:
        "200":
          description: OK
          schema:
            type: string
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    put:
      tags:
        - admission-type-controller
      summary: updateAdmissionTypet
      operationId: updateAdmissionTypetUsingPUT
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: admissionTypeDTO
          description: admissionTypeDTO
          required: true
          schema:
            $ref: "#/definitions/AdmissionTypeDTO"
      responses:
        "200":
          description: OK
          schema:
            type: string
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/admissiontypes/{code}":
    delete:
      tags:
        - admission-type-controller
      summary: deleteAdmissionType
      operationId: deleteAdmissionTypeUsingDELETE_1
      produces:
        - application/json
      parameters:
        - name: code
          in: path
          description: code
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: boolean
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
        - JWT: []
      deprecated: false
  /agetypes:
    get:
      tags:
        - age-type-controller
      summary: getAllAgeTypes
      operationId: getAllAgeTypesUsingGET
      produces:
        - application/json
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/AgeTypeDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    put:
      tags:
        - age-type-controller
      summary: updateAgeType
      operationId: updateAgeTypeUsingPUT
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: ageTypeDTO
          description: ageTypeDTO
          required: true
          schema:
            $ref: "#/definitions/AgeTypeDTO"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AgeTypeDTO"
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  /agetypes/code:
    get:
      tags:
        - age-type-controller
      summary: getAgeTypeCodeByAge
      operationId: getAgeTypeCodeByAgeUsingGET
      produces:
        - application/json
      parameters:
        - name: age
          in: query
          description: age
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          schema:
            type: object
            additionalProperties:
              type: string
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/agetypes/{index}":
    get:
      tags:
        - age-type-controller
      summary: getAgeTypeByIndex
      operationId: getAgeTypeByIndexUsingGET
      produces:
        - application/json
      parameters:
        - name: index
          in: path
          description: index
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AgeType"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  /auth/login:
    post:
      tags:
        - login-api
      summary: Login
      description: Login with the given credentials.
      operationId: loginUsingPOST
      consumes:
        - application/json
      produces:
        - "*/*"
      parameters:
        - name: password
          in: query
          description: password
          required: true
          type: string
        - name: username
          in: query
          description: username
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/LoginResponse"
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      deprecated: false
  /auth/logout:
    post:
      tags:
        - login-api
      summary: Logout
      description: Logout the current user.
      operationId: logoutUsingPOST
      consumes:
        - application/json
      produces:
        - "*/*"
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  /bills:
    get:
      tags:
        - bill-controller
      summary: searchBills
      operationId: searchBillsUsingGET
      produces:
        - application/json
      parameters:
        - name: datefrom
          in: query
          description: datefrom
          required: true
          type: string
          format: date-time
        - name: dateto
          in: query
          description: dateto
          required: true
          type: string
          format: date-time
        - name: patient_code
          in: query
          description: patient_code
          required: false
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/BillDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    post:
      tags:
        - bill-controller
      summary: newBill
      operationId: newBillUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: newBillDto
          description: newBillDto
          required: true
          schema:
            $ref: "#/definitions/FullBillDTO"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/FullBillDTO"
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  /bills/items:
    get:
      tags:
        - bill-controller
      summary: getDistinctItems
      operationId: getDistinctItemsUsingGET
      produces:
        - application/json
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/BillItemsDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/bills/items/{bill_id}":
    get:
      tags:
        - bill-controller
      summary: getItems
      operationId: getItemsUsingGET
      produces:
        - application/json
      parameters:
        - name: bill_id
          in: path
          description: bill_id
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/BillItemsDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  /bills/payments:
    get:
      tags:
        - bill-controller
      summary: searchBillsPayments
      operationId: searchBillsPaymentsUsingGET
      produces:
        - application/json
      parameters:
        - name: datefrom
          in: query
          description: datefrom
          required: true
          type: string
          format: date-time
        - name: dateto
          in: query
          description: dateto
          required: true
          type: string
          format: date-time
        - name: patient_code
          in: query
          description: patient_code
          required: false
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/BillPaymentsDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/bills/payments/{bill_id}":
    get:
      tags:
        - bill-controller
      summary: getPaymentsByBillId
      operationId: getPaymentsByBillIdUsingGET
      produces:
        - application/json
      parameters:
        - name: bill_id
          in: path
          description: bill_id
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/BillPaymentsDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  /bills/pending:
    get:
      tags:
        - bill-controller
      summary: getPendingBills
      operationId: getPendingBillsUsingGET
      produces:
        - application/json
      parameters:
        - name: patient_code
          in: query
          description: patient_code
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/BillDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  /bills/pending/affiliate:
    get:
      tags:
        - bill-controller
      summary: getPendingBillsAffiliate
      operationId: getPendingBillsAffiliateUsingGET
      produces:
        - application/json
      parameters:
        - name: patient_code
          in: query
          description: patient_code
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/BillDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  /bills/search/by/item:
    post:
      tags:
        - bill-controller
      summary: searchBills
      operationId: searchBillsUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: billItemDTO
          description: billItemDTO
          required: true
          schema:
            $ref: "#/definitions/BillItemsDTO"
        - name: datefrom
          in: query
          description: datefrom
          required: true
          type: string
          format: date-time
        - name: dateto
          in: query
          description: dateto
          required: true
          type: string
          format: date-time
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/BillDTO"
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  /bills/search/by/payments:
    post:
      tags:
        - bill-controller
      summary: searchBillsByPayments
      operationId: searchBillsByPaymentsUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: paymentsDTO
          description: paymentsDTO
          required: true
          schema:
            type: array
            items:
              $ref: "#/definitions/BillPaymentsDTO"
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/BillDTO"
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/bills/{id}":
    get:
      tags:
        - bill-controller
      summary: getBill
      operationId: getBillUsingGET
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/BillDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    put:
      tags:
        - bill-controller
      summary: updateBill
      operationId: updateBillUsingPUT
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: integer
          format: int32
        - in: body
          name: odBillDto
          description: odBillDto
          required: true
          schema:
            $ref: "#/definitions/FullBillDTO"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/FullBillDTO"
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    delete:
      tags:
        - bill-controller
      summary: deleteBill
      operationId: deleteBillUsingDELETE
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ResponseEntity"
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
        - JWT: []
      deprecated: false
  /deliveryresulttypes:
    get:
      tags:
        - delivery-result-type-controller
      summary: getDeliveryResultTypes
      operationId: getDeliveryResultTypesUsingGET
      produces:
        - application/json
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/DeliveryResultTypeDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    post:
      tags:
        - delivery-result-type-controller
      summary: newDeliveryResultType
      operationId: newDeliveryResultTypeUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: dlvrrestTypeDTO
          description: dlvrrestTypeDTO
          required: true
          schema:
            $ref: "#/definitions/DeliveryResultTypeDTO"
      responses:
        "200":
          description: OK
          schema:
            type: string
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    put:
      tags:
        - delivery-result-type-controller
      summary: updateDeliveryResultTypet
      operationId: updateDeliveryResultTypetUsingPUT
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: dlvrrestTypeDTO
          description: dlvrrestTypeDTO
          required: true
          schema:
            $ref: "#/definitions/DeliveryResultTypeDTO"
      responses:
        "200":
          description: OK
          schema:
            type: string
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/deliveryresulttypes/{code}":
    delete:
      tags:
        - delivery-result-type-controller
      summary: deleteDeliveryResultType
      operationId: deleteDeliveryResultTypeUsingDELETE
      produces:
        - application/json
      parameters:
        - name: code
          in: path
          description: code
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: boolean
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
        - JWT: []
      deprecated: false
  /deliverytypes:
    get:
      tags:
        - delivery-type-controller
      summary: getDeliveryTypes
      operationId: getDeliveryTypesUsingGET
      produces:
        - application/json
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/DeliveryTypeDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    post:
      tags:
        - delivery-type-controller
      summary: newDeliveryType
      operationId: newDeliveryTypeUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: dlvrTypeDTO
          description: dlvrTypeDTO
          required: true
          schema:
            $ref: "#/definitions/DeliveryTypeDTO"
      responses:
        "200":
          description: OK
          schema:
            type: string
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    put:
      tags:
        - delivery-type-controller
      summary: updateDeliveryTypet
      operationId: updateDeliveryTypetUsingPUT
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: dlvrTypeDTO
          description: dlvrTypeDTO
          required: true
          schema:
            $ref: "#/definitions/DeliveryTypeDTO"
      responses:
        "200":
          description: OK
          schema:
            type: string
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/deliverytypes/{code}":
    delete:
      tags:
        - delivery-type-controller
      summary: deleteDeliveryType
      operationId: deleteDeliveryTypeUsingDELETE
      produces:
        - application/json
      parameters:
        - name: code
          in: path
          description: code
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: boolean
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
        - JWT: []
      deprecated: false
  /dischargetypes:
    get:
      tags:
        - discharge-type-controller
      summary: getDischargeTypes
      operationId: getDischargeTypesUsingGET
      produces:
        - application/json
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/DischargeTypeDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    post:
      tags:
        - discharge-type-controller
      summary: newDischargeType
      operationId: newDischargeTypeUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: dischTypeDTO
          description: dischTypeDTO
          required: true
          schema:
            $ref: "#/definitions/DischargeTypeDTO"
      responses:
        "200":
          description: OK
          schema:
            type: string
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    put:
      tags:
        - discharge-type-controller
      summary: updateDischargeTypet
      operationId: updateDischargeTypetUsingPUT
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: dischTypeDTO
          description: dischTypeDTO
          required: true
          schema:
            $ref: "#/definitions/DischargeTypeDTO"
      responses:
        "200":
          description: OK
          schema:
            type: string
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/dischargetypes/{code}":
    delete:
      tags:
        - discharge-type-controller
      summary: deleteDischargeType
      operationId: deleteDischargeTypeUsingDELETE
      produces:
        - application/json
      parameters:
        - name: code
          in: path
          description: code
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: boolean
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
        - JWT: []
      deprecated: false
  /diseases:
    post:
      tags:
        - disease-controller
      summary: newDisease
      operationId: newDiseaseUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: diseaseDTO
          description: diseaseDTO
          required: true
          schema:
            $ref: "#/definitions/DiseaseDTO"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DiseaseDTO"
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    put:
      tags:
        - disease-controller
      summary: updateDisease
      operationId: updateDiseaseUsingPUT
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: diseaseDTO
          description: diseaseDTO
          required: true
          schema:
            $ref: "#/definitions/DiseaseDTO"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DiseaseDTO"
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  /diseases/all:
    get:
      tags:
        - disease-controller
      summary: getAllDiseases
      operationId: getAllDiseasesUsingGET
      produces:
        - application/json
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/DiseaseDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  /diseases/both:
    get:
      tags:
        - disease-controller
      summary: getDiseases
      operationId: getDiseasesUsingGET_1
      produces:
        - application/json
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/DiseaseDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/diseases/both/{typecode}":
    get:
      tags:
        - disease-controller
      summary: getDiseases
      operationId: getDiseasesUsingGET
      produces:
        - application/json
      parameters:
        - name: typecode
          in: path
          description: typecode
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/DiseaseDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  /diseases/ipd/in:
    get:
      tags:
        - disease-controller
      summary: getDiseasesIpdIn
      operationId: getDiseasesIpdInUsingGET
      produces:
        - application/json
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/DiseaseDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/diseases/ipd/in/{typecode}":
    get:
      tags:
        - disease-controller
      summary: getDiseasesIpdInByCode
      operationId: getDiseasesIpdInByCodeUsingGET
      produces:
        - application/json
      parameters:
        - name: typecode
          in: path
          description: typecode
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/DiseaseDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  /diseases/ipd/out:
    get:
      tags:
        - disease-controller
      summary: getDiseasesIpdOut
      operationId: getDiseasesIpdOutUsingGET
      produces:
        - application/json
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/DiseaseDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/diseases/ipd/out/{typecode}":
    get:
      tags:
        - disease-controller
      summary: getDiseasesIpdOutByCode
      operationId: getDiseasesIpdOutByCodeUsingGET
      produces:
        - application/json
      parameters:
        - name: typecode
          in: path
          description: typecode
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/DiseaseDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  /diseases/opd:
    get:
      tags:
        - disease-controller
      summary: getDiseasesOpd
      operationId: getDiseasesOpdUsingGET
      produces:
        - application/json
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/DiseaseDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/diseases/opd/{typecode}":
    get:
      tags:
        - disease-controller
      summary: getDiseasesOpdByCode
      operationId: getDiseasesOpdByCodeUsingGET
      produces:
        - application/json
      parameters:
        - name: typecode
          in: path
          description: typecode
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/DiseaseDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/diseases/{code}":
    get:
      tags:
        - disease-controller
      summary: getDiseaseByCode
      operationId: getDiseaseByCodeUsingGET
      produces:
        - application/json
      parameters:
        - name: code
          in: path
          description: code
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DiseaseDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    delete:
      tags:
        - disease-controller
      summary: deleteDisease
      operationId: deleteDiseaseUsingDELETE
      produces:
        - application/json
      parameters:
        - name: code
          in: path
          description: code
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          schema:
            type: object
            additionalProperties:
              type: boolean
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
        - JWT: []
      deprecated: false
  /diseasetypes:
    get:
      tags:
        - disease-type-controller
      summary: getAllDiseaseTypes
      operationId: getAllDiseaseTypesUsingGET
      produces:
        - application/json
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/DiseaseTypeDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    post:
      tags:
        - disease-type-controller
      summary: newDiseaseType
      operationId: newDiseaseTypeUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: diseaseTypeDTO
          description: diseaseTypeDTO
          required: true
          schema:
            $ref: "#/definitions/DiseaseTypeDTO"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DiseaseTypeDTO"
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    put:
      tags:
        - disease-type-controller
      summary: updateDiseaseType
      operationId: updateDiseaseTypeUsingPUT
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: diseaseTypeDTO
          description: diseaseTypeDTO
          required: true
          schema:
            $ref: "#/definitions/DiseaseTypeDTO"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DiseaseTypeDTO"
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/diseasetypes/{code}":
    delete:
      tags:
        - disease-type-controller
      summary: deleteDiseaseType
      operationId: deleteDiseaseTypeUsingDELETE
      produces:
        - application/json
      parameters:
        - name: code
          in: path
          description: code
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: object
            additionalProperties:
              type: boolean
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
        - JWT: []
      deprecated: false
  /examinations:
    post:
      tags:
        - examination-controller
      summary: newPatientExamination
      operationId: newPatientExaminationUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: newPatientExamination
          description: newPatientExamination
          required: true
          schema:
            $ref: "#/definitions/PatientExaminationDTO"
      responses:
        "200":
          description: OK
          schema:
            type: boolean
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/examinations/byPatientId/{patId}":
    get:
      tags:
        - examination-controller
      summary: getByPatientId
      operationId: getByPatientIdUsingGET
      produces:
        - application/json
      parameters:
        - name: patId
          in: path
          description: patId
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/PatientExaminationDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  /examinations/defaultPatientExamination:
    get:
      tags:
        - examination-controller
      summary: getDefaultPatientExamination
      operationId: getDefaultPatientExaminationUsingGET
      produces:
        - application/json
      parameters:
        - name: patId
          in: query
          description: patId
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/PatientExaminationDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/examinations/fromLastPatientExamination/{id}":
    get:
      tags:
        - examination-controller
      summary: getFromLastPatientExamination
      operationId: getFromLastPatientExaminationUsingGET
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/PatientExaminationDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/examinations/lastByPatientId/{patId}":
    get:
      tags:
        - examination-controller
      summary: getLastByPatientId
      operationId: getLastByPatientIdUsingGET
      produces:
        - application/json
      parameters:
        - name: patId
          in: path
          description: patId
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/PatientExaminationDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  /examinations/lastNByPatId:
    get:
      tags:
        - examination-controller
      summary: getLastNByPatID
      operationId: getLastNByPatIDUsingGET
      produces:
        - application/json
      parameters:
        - name: limit
          in: query
          description: limit
          required: true
          type: integer
          format: int32
        - name: patId
          in: query
          description: patId
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/PatientExaminationDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/examinations/{id}":
    get:
      tags:
        - examination-controller
      summary: getByID
      operationId: getByIDUsingGET
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/PatientExaminationDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    put:
      tags:
        - examination-controller
      summary: updateExamination
      operationId: updateExaminationUsingPUT
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: dto
          description: dto
          required: true
          schema:
            $ref: "#/definitions/PatientExaminationDTO"
        - name: id
          in: path
          description: id
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ResponseEntity"
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  /examrows:
    get:
      tags:
        - exam-row-controller
      summary: getExamRows
      operationId: getExamRowsUsingGET
      produces:
        - application/json
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/ExamRowDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    post:
      tags:
        - exam-row-controller
      summary: newExamRow
      operationId: newExamRowUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: examRowDTO
          description: examRowDTO
          required: true
          schema:
            $ref: "#/definitions/ExamRowDTO"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ResponseEntity"
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/examrows/byExamCode/{examCode}":
    get:
      tags:
        - exam-row-controller
      summary: getExamRowsByExamCode
      operationId: getExamRowsByExamCodeUsingGET
      produces:
        - application/json
      parameters:
        - name: examCode
          in: path
          description: examCode
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/ExamRowDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  /examrows/search:
    get:
      tags:
        - exam-row-controller
      summary: getExamRowsByCodeAndDescription
      operationId: getExamRowsByCodeAndDescriptionUsingGET
      produces:
        - application/json
      parameters:
        - name: code
          in: query
          description: code
          required: true
          type: integer
          format: int32
        - name: description
          in: query
          description: description
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/ExamRowDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/examrows/{code}":
    get:
      tags:
        - exam-row-controller
      summary: getExamRowsByCode
      operationId: getExamRowsByCodeUsingGET
      produces:
        - application/json
      parameters:
        - name: code
          in: path
          description: code
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/ExamRowDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    delete:
      tags:
        - exam-row-controller
      summary: deleteExam
      operationId: deleteExamUsingDELETE_1
      produces:
        - application/json
      parameters:
        - name: code
          in: path
          description: code
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ResponseEntity"
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
        - JWT: []
      deprecated: false
  /exams:
    get:
      tags:
        - exam-controller
      summary: getExams
      operationId: getExamsUsingGET_1
      produces:
        - application/json
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/ExamDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    post:
      tags:
        - exam-controller
      summary: newExam
      operationId: newExamUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: newExam
          description: newExam
          required: true
          schema:
            $ref: "#/definitions/ExamDTO"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ResponseEntity"
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/exams/description/{description}":
    get:
      tags:
        - exam-controller
      summary: getExams
      operationId: getExamsUsingGET
      produces:
        - application/json
      parameters:
        - name: description
          in: path
          description: description
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/ExamDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/exams/{code}":
    put:
      tags:
        - exam-controller
      summary: updateExams
      operationId: updateExamsUsingPUT
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: code
          in: path
          description: code
          required: true
          type: string
        - in: body
          name: updateExam
          description: updateExam
          required: true
          schema:
            $ref: "#/definitions/ExamDTO"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ResponseEntity"
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    delete:
      tags:
        - exam-controller
      summary: deleteExam
      operationId: deleteExamUsingDELETE
      produces:
        - application/json
      parameters:
        - name: code
          in: path
          description: code
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ResponseEntity"
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
        - JWT: []
      deprecated: false
  /examtypes:
    get:
      tags:
        - exam-type-controller
      summary: getExamTypes
      operationId: getExamTypesUsingGET
      produces:
        - application/json
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/ExamTypeDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    post:
      tags:
        - exam-type-controller
      summary: newExamType
      operationId: newExamTypeUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: newExamType
          description: newExamType
          required: true
          schema:
            $ref: "#/definitions/ExamTypeDTO"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ResponseEntity"
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/examtypes/{code}":
    put:
      tags:
        - exam-type-controller
      summary: updateExamType
      operationId: updateExamTypeUsingPUT
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: code
          in: path
          description: code
          required: true
          type: string
        - in: body
          name: updateExamType
          description: updateExamType
          required: true
          schema:
            $ref: "#/definitions/ExamTypeDTO"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ResponseEntity"
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    delete:
      tags:
        - exam-type-controller
      summary: deleteExamType
      operationId: deleteExamTypeUsingDELETE
      produces:
        - application/json
      parameters:
        - name: code
          in: path
          description: code
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ResponseEntity"
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
        - JWT: []
      deprecated: false
  /hospitals:
    get:
      tags:
        - hospital-controller
      summary: getHospital
      operationId: getHospitalUsingGET
      produces:
        - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/HospitalDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  /hospitals/currencyCode:
    get:
      tags:
        - hospital-controller
      summary: getHospitalCurrencyCode
      operationId: getHospitalCurrencyCodeUsingGET
      produces:
        - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/hospitals/{code}":
    put:
      tags:
        - hospital-controller
      summary: updateHospital
      operationId: updateHospitalUsingPUT
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: code
          in: path
          description: code
          required: true
          type: string
        - in: body
          name: hospitalDTO
          description: hospitalDTO
          required: true
          schema:
            $ref: "#/definitions/HospitalDTO"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ResponseEntity"
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  /laboratories:
    get:
      tags:
        - laboratory-controller
      summary: getLaboratory
      operationId: getLaboratoryUsingGET_1
      produces:
        - application/json
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/LaboratoryDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    post:
      tags:
        - laboratory-controller
      summary: newLaboratory
      operationId: newLaboratoryUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: labWithRowsDTO
          description: labWithRowsDTO
          required: true
          schema:
            $ref: "#/definitions/LabWithRowsDTO"
      responses:
        "200":
          description: OK
          schema:
            type: boolean
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/laboratories/byPatientId/{patId}":
    get:
      tags:
        - laboratory-controller
      summary: getLaboratory
      operationId: getLaboratoryUsingGET
      produces:
        - application/json
      parameters:
        - name: patId
          in: path
          description: patId
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/LaboratoryDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  /laboratories/exams:
    get:
      tags:
        - laboratory-controller
      summary: getLaboratoryForPrint
      operationId: getLaboratoryForPrintUsingGET
      produces:
        - application/json
      parameters:
        - name: dateFrom
          in: query
          description: dateFrom
          required: true
          type: string
          format: date-time
        - name: dateTo
          in: query
          description: dateTo
          required: true
          type: string
          format: date-time
        - name: examName
          in: query
          description: examName
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/LaboratoryForPrintDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  /laboratories/insertList:
    post:
      tags:
        - laboratory-controller
      summary: newLaboratory2
      operationId: newLaboratory2UsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: labsWithRows
          description: labsWithRows
          required: true
          schema:
            type: array
            items:
              $ref: "#/definitions/LabWithRowsDTO"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ResponseEntity"
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  /laboratories/materials:
    get:
      tags:
        - laboratory-controller
      summary: getMaterials
      operationId: getMaterialsUsingGET
      produces:
        - application/json
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              type: string
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/laboratories/{code}":
    put:
      tags:
        - laboratory-controller
      summary: updateLaboratory
      operationId: updateLaboratoryUsingPUT
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: code
          in: path
          description: code
          required: true
          type: integer
          format: int32
        - in: body
          name: labWithRowsDTO
          description: labWithRowsDTO
          required: true
          schema:
            $ref: "#/definitions/LabWithRowsDTO"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ResponseEntity"
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    delete:
      tags:
        - laboratory-controller
      summary: deleteExam
      operationId: deleteExamUsingDELETE_2
      produces:
        - application/json
      parameters:
        - name: code
          in: path
          description: code
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ResponseEntity"
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
        - JWT: []
      deprecated: false
  /malnutritions:
    post:
      tags:
        - malnutrition-controller
      summary: newMalnutrition
      operationId: newMalnutritionUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: malnutritionDTO
          description: malnutritionDTO
          required: true
          schema:
            $ref: "#/definitions/MalnutritionDTO"
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    put:
      tags:
        - malnutrition-controller
      summary: updateMalnutrition
      operationId: updateMalnutritionUsingPUT
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: malnutritionDTO
          description: malnutritionDTO
          required: true
          schema:
            $ref: "#/definitions/MalnutritionDTO"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/MalnutritionDTO"
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    delete:
      tags:
        - malnutrition-controller
      summary: deleteMalnutrition
      operationId: deleteMalnutritionUsingDELETE
      produces:
        - application/json
      parameters:
        - in: body
          name: malnutritionDTO
          description: malnutritionDTO
          required: true
          schema:
            $ref: "#/definitions/MalnutritionDTO"
      responses:
        "200":
          description: OK
          schema:
            type: boolean
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
        - JWT: []
      deprecated: false
  "/malnutritions/last/{id_patient}":
    get:
      tags:
        - malnutrition-controller
      summary: getLastMalnutrition
      operationId: getLastMalnutritionUsingGET
      produces:
        - application/json
      parameters:
        - name: id_patient
          in: path
          description: id_patient
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/MalnutritionDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/malnutritions/{id_admission}":
    get:
      tags:
        - malnutrition-controller
      summary: getMalnutrition
      operationId: getMalnutritionUsingGET
      produces:
        - application/json
      parameters:
        - name: id_admission
          in: path
          description: id_admission
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/MalnutritionDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  /medicals:
    get:
      tags:
        - medical-controller
      summary: getMedicals
      operationId: getMedicalsUsingGET
      produces:
        - application/json
      parameters:
        - name: sort_by
          in: query
          description: sort_by
          required: false
          type: string
          enum:
            - NONE
            - CODE
            - NAME
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/MedicalDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    post:
      tags:
        - medical-controller
      summary: newMedical
      operationId: newMedicalUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: ignore_similar
          in: query
          description: ignore_similar
          required: false
          type: boolean
          default: false
        - in: body
          name: medicalDTO
          description: medicalDTO
          required: true
          schema:
            $ref: "#/definitions/MedicalDTO"
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    put:
      tags:
        - medical-controller
      summary: updateMedical
      operationId: updateMedicalUsingPUT
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: ignore_similar
          in: query
          description: ignore_similar
          required: false
          type: boolean
          default: false
        - in: body
          name: medicalDTO
          description: medicalDTO
          required: true
          schema:
            $ref: "#/definitions/MedicalDTO"
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  /medicals/filter:
    get:
      tags:
        - medical-controller
      summary: filterMedicals
      operationId: filterMedicalsUsingGET
      produces:
        - application/json
      parameters:
        - name: critical
          in: query
          description: critical
          required: false
          type: boolean
          default: false
        - name: desc
          in: query
          description: desc
          required: false
          type: string
        - name: name_sorted
          in: query
          description: name_sorted
          required: false
          type: boolean
          default: false
        - name: type
          in: query
          description: type
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/MedicalDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/medicals/{code}":
    get:
      tags:
        - medical-controller
      summary: getMedical
      operationId: getMedicalUsingGET
      produces:
        - application/json
      parameters:
        - name: code
          in: path
          description: code
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/MedicalDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    delete:
      tags:
        - medical-controller
      summary: deleteMedical
      operationId: deleteMedicalUsingDELETE
      produces:
        - application/json
      parameters:
        - name: code
          in: path
          description: code
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          schema:
            type: boolean
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
        - JWT: []
      deprecated: false
  "/medicalstockward/current/{ward_code}":
    get:
      tags:
        - medical-stock-ward-controller
      summary: getCurrentQuantityInWard
      operationId: getCurrentQuantityInWardUsingGET
      produces:
        - application/json
      parameters:
        - name: med_id
          in: query
          description: med_id
          required: true
          type: integer
          format: int32
        - name: ward_code
          in: path
          description: ward_code
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: integer
            format: int32
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  /medicalstockward/movements:
    get:
      tags:
        - medical-stock-ward-controller
      summary: getMovementWard
      operationId: getMovementWardUsingGET_1
      produces:
        - application/json
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/MovementWardDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    post:
      tags:
        - medical-stock-ward-controller
      summary: newMovementWard
      operationId: newMovementWardUsingPOST_1
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: newMovementDTO
          description: newMovementDTO
          required: true
          schema:
            $ref: "#/definitions/MovementWardDTO"
      responses:
        "200":
          description: OK
          schema:
            type: boolean
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    put:
      tags:
        - medical-stock-ward-controller
      summary: updateMovementWard
      operationId: updateMovementWardUsingPUT
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: movementWardDTO
          description: movementWardDTO
          required: true
          schema:
            $ref: "#/definitions/MovementWardDTO"
      responses:
        "200":
          description: OK
          schema:
            type: boolean
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  /medicalstockward/movements/all:
    post:
      tags:
        - medical-stock-ward-controller
      summary: newMovementWard
      operationId: newMovementWardUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: newMovementDTOs
          description: newMovementDTOs
          required: true
          schema:
            type: array
            items:
              $ref: "#/definitions/MovementWardDTO"
      responses:
        "200":
          description: OK
          schema:
            type: boolean
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/medicalstockward/movements/to/{target_ward_code}":
    get:
      tags:
        - medical-stock-ward-controller
      summary: getWardMovementsToWard
      operationId: getWardMovementsToWardUsingGET
      produces:
        - application/json
      parameters:
        - name: from
          in: query
          description: from
          required: true
          type: string
          format: date-time
        - name: target_ward_code
          in: path
          description: target_ward_code
          required: true
          type: string
        - name: to
          in: query
          description: to
          required: true
          type: string
          format: date-time
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/MovementWardDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/medicalstockward/movements/{ward_code}":
    get:
      tags:
        - medical-stock-ward-controller
      summary: getMovementWard
      operationId: getMovementWardUsingGET
      produces:
        - application/json
      parameters:
        - name: from
          in: query
          description: from
          required: true
          type: string
          format: date-time
        - name: to
          in: query
          description: to
          required: true
          type: string
          format: date-time
        - name: ward_code
          in: path
          description: ward_code
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/MovementWardDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/medicalstockward/{ward_code}":
    get:
      tags:
        - medical-stock-ward-controller
      summary: getMedicalsWard
      operationId: getMedicalsWardUsingGET
      produces:
        - application/json
      parameters:
        - name: ward_code
          in: path
          description: ward_code
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/MedicalWardDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  /medicaltypes:
    get:
      tags:
        - medical-type-controller
      summary: getMedicalTypes
      operationId: getMedicalTypesUsingGET
      produces:
        - application/json
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/MedicalTypeDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    post:
      tags:
        - medical-type-controller
      summary: createMedicalType
      operationId: createMedicalTypeUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: medicalTypeDTO
          description: medicalTypeDTO
          required: true
          schema:
            $ref: "#/definitions/MedicalTypeDTO"
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    put:
      tags:
        - medical-type-controller
      summary: updateMedicalType
      operationId: updateMedicalTypeUsingPUT
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: medicalTypeDTO
          description: medicalTypeDTO
          required: true
          schema:
            $ref: "#/definitions/MedicalTypeDTO"
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/medicaltypes/check/{code}":
    get:
      tags:
        - medical-type-controller
      summary: isCodeUsed
      operationId: isCodeUsedUsingGET_1
      produces:
        - application/json
      parameters:
        - name: code
          in: path
          description: code
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: boolean
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/medicaltypes/{code}":
    delete:
      tags:
        - medical-type-controller
      summary: deleteMedicalType
      operationId: deleteMedicalTypeUsingDELETE
      produces:
        - application/json
      parameters:
        - name: code
          in: path
          description: code
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: boolean
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
        - JWT: []
      deprecated: false
  /medstockmovementtype:
    get:
      tags:
        - med-stock-movement-type-controller
      summary: getMedicaldsrstockmovType
      operationId: getMedicaldsrstockmovTypeUsingGET
      produces:
        - application/json
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/MovementTypeDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    post:
      tags:
        - med-stock-movement-type-controller
      summary: newMedicaldsrstockmovType
      operationId: newMedicaldsrstockmovTypeUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: medicaldsrstockmovType
          description: medicaldsrstockmovType
          required: true
          schema:
            $ref: "#/definitions/MovementTypeDTO"
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    put:
      tags:
        - med-stock-movement-type-controller
      summary: updateMedicaldsrstockmovType
      operationId: updateMedicaldsrstockmovTypeUsingPUT
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: medicaldsrstockmovTypeDTO
          description: medicaldsrstockmovTypeDTO
          required: true
          schema:
            $ref: "#/definitions/MovementTypeDTO"
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/medstockmovementtype/check/{code}":
    get:
      tags:
        - med-stock-movement-type-controller
      summary: isCodeUsed
      operationId: isCodeUsedUsingGET
      produces:
        - application/json
      parameters:
        - name: code
          in: path
          description: code
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: boolean
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/medstockmovementtype/{code}":
    get:
      tags:
        - med-stock-movement-type-controller
      summary: getMovementType
      operationId: getMovementTypeUsingGET
      produces:
        - application/json
      parameters:
        - name: code
          in: path
          description: code
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/MovementTypeDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
    delete:
      tags:
        - med-stock-movement-type-controller
      summary: deleteMedicaldsrstockmovType
      operationId: deleteMedicaldsrstockmovTypeUsingDELETE
      produces:
        - application/json
      parameters:
        - name: code
          in: path
          description: code
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: boolean
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
        - JWT: []
      deprecated: false
  /opds:
    post:
      tags:
        - opd-controller
      summary: newOpd
      operationId: newOpdUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: opdDTO
          description: opdDTO
          required: true
          schema:
            $ref: "#/definitions/OpdDTO"
      responses:
        "200":
          description: OK
          schema:
            type: boolean
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/opds/ProgYear/{year}":
    get:
      tags:
        - opd-controller
      summary: getProgYear
      operationId: getProgYearUsingGET
      produces:
        - application/json
      parameters:
        - name: year
          in: path
          description: year
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          schema:
            type: integer
            format: int32
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  /opds/check/progyear:
    get:
      tags:
        - opd-controller
      summary: isExistOpdNum
      operationId: isExistOpdNumUsingGET
      produces:
        - application/json
      parameters:
        - name: opdNum
          in: query
          description: opdNum
          required: true
          type: integer
          format: int32
        - name: year
          in: query
          description: year
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          schema:
            type: boolean
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/opds/last/{code}":
    get:
      tags:
        - opd-controller
      summary: getLastOpd
      operationId: getLastOpdUsingGET
      produces:
        - application/json
      parameters:
        - name: code
          in: path
          description: code
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/OpdDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  "/opds/patient/{pcode}":
    get:
      tags:
        - opd-controller
      summary: getOpdByPatient
      operationId: getOpdByPatientUsingGET
      produces:
        - application/json
      parameters:
        - name: pcode
          in: path
          description: pcode
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/OpdDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  /opds/search:
    get:
      tags:
        - opd-controller
      summary: getOpdByDates
      operationId: getOpdByDatesUsingGET
      produces:
        - application/json
      parameters:
        - name: ageFrom
          in: query
          description: ageFrom
          required: true
          type: integer
          format: int32
        - name: ageTo
          in: query
          description: ageTo
          required: true
          type: integer
          format: int32
        - name: dateFrom
          in: query
          description: dateFrom
          required: true
          type: string
          format: date-time
        - name: dateTo
          in: query
          description: dateTo
          required: true
          type: string
          format: date-time
        - name: diseaseCode
          in: query
          description: diseaseCode
          required: true
          type: string
        - name: diseaseTypeCode
          in: query
          description: diseaseTypeCode
          required: true
          type: string
        - name: newPatient
          in: query
          description: newPatient
          required: true
          type: string
        - name: sex
          in: query
          description: sex
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/OpdDTO"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
        - JWT: []
      deprecated: false
  /opds/weekly:
    get:
      tags:
        - opd-controller
      summary: getOpdToDayOrWeek
      operationId: getOpdToDayOrWeekUsingGET
      produces:
        - application/json
      parameters:
        - name: oneWeek
          in: query
          description: oneWeek
          required: false
          type: boolean
      responses:
        "200":
          description: OK
          schema:
[...]
