openapi: 3.0.1
info:
  title: OH 2.0 Api Documentation
  description: OH 2.0 Api Documentation
  contact:
    name: ApiInfo.DEFAULT_CONTACT
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: "1.0"
servers:
- url: https://oh2.open-hospital.org
security:
- bearerAuth: []
paths:
  /wards:
    get:
      tags:
      - Wards
      operationId: getWards
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WardDTO'
      security:
      - bearerAuth: []
    put:
      tags:
      - Wards
      operationId: updateWard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WardDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WardDTO'
      security:
      - bearerAuth: []
    post:
      tags:
      - Wards
      operationId: newWard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WardDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WardDTO'
      security:
      - bearerAuth: []
  /visit/{visitID}:
    put:
      tags:
      - Visit
      operationId: updateVisit
      parameters:
      - name: visitID
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VisitDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitDTO'
      security:
      - bearerAuth: []
  /vaccinetype:
    get:
      tags:
      - Vaccine Type
      operationId: getVaccineType
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VaccineTypeDTO'
      security:
      - bearerAuth: []
    put:
      tags:
      - Vaccine Type
      operationId: updateVaccineType
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VaccineTypeDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaccineTypeDTO'
      security:
      - bearerAuth: []
    post:
      tags:
      - Vaccine Type
      operationId: newVaccineType
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VaccineTypeDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaccineTypeDTO'
      security:
      - bearerAuth: []
  /vaccines:
    get:
      tags:
      - Vaccines
      operationId: getVaccines
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VaccineDTO'
      security:
      - bearerAuth: []
    put:
      tags:
      - Vaccines
      operationId: updateVaccine
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VaccineDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaccineDTO'
      security:
      - bearerAuth: []
    post:
      tags:
      - Vaccines
      operationId: newVaccine
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VaccineDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaccineDTO'
      security:
      - bearerAuth: []
  /users:
    get:
      tags:
      - Users
      operationId: getUser
      parameters:
      - name: group_id
        in: query
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserDTO'
      security:
      - bearerAuth: []
    put:
      tags:
      - Users
      operationId: updateUser
      parameters:
      - name: password
        in: query
        required: false
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
    post:
      tags:
      - Users
      operationId: newUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /users/groups:
    get:
      tags:
      - Users
      operationId: getUserGroup
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserGroupDTO'
      security:
      - bearerAuth: []
    put:
      tags:
      - Users
      operationId: updateUserGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserGroupDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
    post:
      tags:
      - Users
      operationId: newUserGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserGroupDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /suppliers:
    get:
      tags:
      - Suppliers
      operationId: getSuppliers
      parameters:
      - name: exclude_deleted
        in: query
        required: false
        schema:
          type: boolean
          default: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupplierDTO'
      security:
      - bearerAuth: []
    put:
      tags:
      - Suppliers
      operationId: updateSupplier
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierDTO'
      security:
      - bearerAuth: []
    post:
      tags:
      - Suppliers
      operationId: saveSupplier
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierDTO'
      security:
      - bearerAuth: []
  /pricesothers/{id}:
    put:
      tags:
      - others price
      operationId: updatePricesOtherst
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PricesOthersDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricesOthersDTO'
      security:
      - bearerAuth: []
    delete:
      tags:
      - others price
      operationId: deletePricesOthers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /pricelists/{id}:
    put:
      tags:
      - Price Lists
      operationId: updatePriceListt
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PriceListDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceListDTO'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Price Lists
      operationId: deletePriceList
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /pregnanttreatmenttypes/{code}:
    put:
      tags:
      - Pregnant Treatment Types
      operationId: updatePregnantTreatmentTypet
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PregnantTreatmentTypeDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PregnantTreatmentTypeDTO'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Pregnant Treatment Types
      operationId: deletePregnantTreatmentType
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /permissions/{id}:
    get:
      tags:
      - permissions
      operationId: retrievePermissionById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionDTO'
      security:
      - bearerAuth: []
    put:
      tags:
      - permissions
      operationId: updatePermission
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PermissionDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionDTO'
      security:
      - bearerAuth: []
    delete:
      tags:
      - permissions
      operationId: deletePermission
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /patientvaccines/{code}:
    put:
      tags:
      - Patient Vaccines
      operationId: updatePatientVaccinet
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientVaccineDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatientVaccineDTO'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Patient Vaccines
      operationId: deletePatientVaccine
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /patients/{code}:
    get:
      tags:
      - Patients
      operationId: getPatient
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatientDTO'
      security:
      - bearerAuth: []
    put:
      tags:
      - Patients
      operationId: updatePatient
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatientDTO'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Patients
      operationId: deletePatient
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /patientConsensus/{patientId}:
    get:
      tags:
      - Patient Consensus
      operationId: getPatientConsensus
      parameters:
      - name: patientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatientConsensusDTO'
      security:
      - bearerAuth: []
    put:
      tags:
      - Patient Consensus
      operationId: updatePatientConsensus
      parameters:
      - name: patientId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientConsensusDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatientConsensusDTO'
      security:
      - bearerAuth: []
  /operationtypes/{code}:
    put:
      tags:
      - Operations Types
      operationId: updateOperationTypet
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationTypeDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationTypeDTO'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Operations Types
      operationId: deleteOperationType
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /operations/{code}:
    get:
      tags:
      - Operations
      operationId: getOperationByCode
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationDTO'
      security:
      - bearerAuth: []
    put:
      tags:
      - Operations
      operationId: updateOperation
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationDTO'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Operations
      operationId: deleteOperation
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /operations/rows:
    put:
      tags:
      - Operations
      operationId: updateOperationRow
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationRowDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: integer
                format: int32
      security:
      - bearerAuth: []
    post:
      tags:
      - Operations
      operationId: newOperationRow
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationRowDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationRowDTO'
      security:
      - bearerAuth: []
  /opds/{code}:
    put:
      tags:
      - Opds
      operationId: updateOpd
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpdDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpdDTO'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Opds
      operationId: deleteOpd
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /opds/rows/{code}:
    put:
      tags:
      - Opds
      operationId: updateOpdWithOperationRow
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpdWithOperatioRowDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpdWithOperatioRowDTO'
      security:
      - bearerAuth: []
  /medstockmovementtype:
    get:
      tags:
      - Medical Stock Movement Type
      operationId: getMedicalDsrStockMovementType
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MovementTypeDTO'
      security:
      - bearerAuth: []
    put:
      tags:
      - Medical Stock Movement Type
      operationId: updateMedicalDsrStockMovementType
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MovementTypeDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovementTypeDTO'
      security:
      - bearerAuth: []
    post:
      tags:
      - Medical Stock Movement Type
      operationId: newMedicalDsrStockMovementType
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MovementTypeDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovementTypeDTO'
      security:
      - bearerAuth: []
  /medicaltypes:
    get:
      tags:
      - Medical Types
      operationId: getMedicalTypes
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicalTypeDTO'
      security:
      - bearerAuth: []
    put:
      tags:
      - Medical Types
      operationId: updateMedicalType
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedicalTypeDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicalTypeDTO'
      security:
      - bearerAuth: []
    post:
      tags:
      - Medical Types
      operationId: createMedicalType
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedicalTypeDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicalTypeDTO'
      security:
      - bearerAuth: []
  /medicals:
    get:
      tags:
      - Medicals
      operationId: getMedicals
      parameters:
      - name: sort_by
        in: query
        required: false
        schema:
          type: string
          enum:
          - NONE
          - CODE
          - NAME
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicalDTO'
      security:
      - bearerAuth: []
    put:
      tags:
      - Medicals
      operationId: updateMedical
      parameters:
      - name: ignore_similar
        in: query
        required: false
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedicalDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicalDTO'
      security:
      - bearerAuth: []
    post:
      tags:
      - Medicals
      operationId: newMedical
      parameters:
      - name: ignore_similar
        in: query
        required: false
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedicalDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicalDTO'
      security:
      - bearerAuth: []
  /malnutritions:
    put:
      tags:
      - Malnutritions
      operationId: updateMalnutrition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MalnutritionDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MalnutritionDTO'
      security:
      - bearerAuth: []
    post:
      tags:
      - Malnutritions
      operationId: newMalnutrition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MalnutritionDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MalnutritionDTO'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Malnutritions
      operationId: deleteMalnutrition
      parameters:
      - name: code
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /laboratories/{code}:
    get:
      tags:
      - Laboratories
      operationId: getExamById
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LaboratoryDTO'
      security:
      - bearerAuth: []
    put:
      tags:
      - Laboratories
      operationId: updateLaboratory
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabWithRowsDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
    delete:
      tags:
      - Laboratories
      operationId: deleteExam
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /laboratories/examRequest/{code}:
    put:
      tags:
      - Laboratories
      operationId: updateExamRequest
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: status
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
    delete:
      tags:
      - Laboratories
      operationId: deleteExamRequest
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /hospitals/{code}:
    put:
      tags:
      - Hospitals
      operationId: updateHospital
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HospitalDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HospitalDTO'
      security:
      - bearerAuth: []
  /examtypes/{code}:
    put:
      tags:
      - Exam Types
      operationId: updateExamType
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExamTypeDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExamTypeDTO'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Exam Types
      operationId: deleteExamType
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /exams/{code}:
    put:
      tags:
      - Exams
      operationId: updateExams
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExamDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExamDTO'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Exams
      operationId: deleteExam_1
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /examinations/{id}:
    get:
      tags:
      - Examinations
      operationId: getByID
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatientExaminationDTO'
      security:
      - bearerAuth: []
    put:
      tags:
      - Examinations
      operationId: updateExamination
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientExaminationDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /diseasetypes:
    get:
      tags:
      - Disease Types
      operationId: getAllDiseaseTypes
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DiseaseTypeDTO'
      security:
      - bearerAuth: []
    put:
      tags:
      - Disease Types
      operationId: updateDiseaseType
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiseaseTypeDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiseaseTypeDTO'
      security:
      - bearerAuth: []
    post:
      tags:
      - Disease Types
      operationId: newDiseaseType
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiseaseTypeDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiseaseTypeDTO'
      security:
      - bearerAuth: []
  /diseases:
    put:
      tags:
      - Diseases
      operationId: updateDisease
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiseaseDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiseaseDTO'
      security:
      - bearerAuth: []
    post:
      tags:
      - Diseases
      operationId: newDisease
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiseaseDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiseaseDTO'
      security:
      - bearerAuth: []
  /dischargetypes:
    get:
      tags:
      - DischargeType
      operationId: getDischargeTypes
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DischargeTypeDTO'
      security:
      - bearerAuth: []
    put:
      tags:
      - DischargeType
      operationId: updateDischargeTypet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DischargeTypeDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DischargeTypeDTO'
      security:
      - bearerAuth: []
    post:
      tags:
      - DischargeType
      operationId: newDischargeType
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DischargeTypeDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DischargeTypeDTO'
      security:
      - bearerAuth: []
  /deliverytypes:
    get:
      tags:
      - Delivery Type
      operationId: getDeliveryTypes
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeliveryTypeDTO'
      security:
      - bearerAuth: []
    put:
      tags:
      - Delivery Type
      operationId: updateDeliveryTypet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeliveryTypeDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryTypeDTO'
      security:
      - bearerAuth: []
    post:
      tags:
      - Delivery Type
      operationId: newDeliveryType
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeliveryTypeDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryTypeDTO'
      security:
      - bearerAuth: []
  /deliveryresulttypes:
    get:
      tags:
      - Delivery Result Type
      operationId: getDeliveryResultTypes
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeliveryResultTypeDTO'
      security:
      - bearerAuth: []
    put:
      tags:
      - Delivery Result Type
      operationId: updateDeliveryResultTypet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeliveryResultTypeDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryResultTypeDTO'
      security:
      - bearerAuth: []
    post:
      tags:
      - Delivery Result Type
      operationId: newDeliveryResultType
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeliveryResultTypeDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryResultTypeDTO'
      security:
      - bearerAuth: []
  /bills/{id}:
    get:
      tags:
      - Bills
      operationId: getBill
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillDTO'
      security:
      - bearerAuth: []
    put:
      tags:
      - Bills
      operationId: updateBill
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FullBillDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FullBillDTO'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Bills
      operationId: deleteBill
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /agetypes:
    get:
      tags:
      - AgeTypes
      operationId: getAllAgeTypes
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AgeTypeDTO'
      security:
      - bearerAuth: []
    put:
      tags:
      - AgeTypes
      operationId: updateAgeType
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgeTypeDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgeTypeDTO'
      security:
      - bearerAuth: []
  /admissiontypes:
    get:
      tags:
      - AdmissionTypes
      operationId: getAdmissionTypes
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdmissionTypeDTO'
      security:
      - bearerAuth: []
    put:
      tags:
      - AdmissionTypes
      operationId: updateAdmissionTypet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdmissionTypeDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdmissionTypeDTO'
      security:
      - bearerAuth: []
    post:
      tags:
      - AdmissionTypes
      operationId: newAdmissionType
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdmissionTypeDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdmissionTypeDTO'
      security:
      - bearerAuth: []
  /admissions:
    get:
      tags:
      - Admissions
      operationId: getAdmissions
      parameters:
      - name: admissionrange
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 80
      - name: paged
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        "400":
          description: Bad Request
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAdmissionDTO'
      security:
      - bearerAuth: []
    put:
      tags:
      - Admissions
      operationId: updateAdmissions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdmissionDTO'
        required: true
      responses:
        "400":
          description: Bad Request
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdmissionDTO'
      security:
      - bearerAuth: []
    post:
      tags:
      - Admissions
      operationId: newAdmissions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdmissionDTO'
        required: true
      responses:
        "400":
          description: Bad Request
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdmissionDTO'
      security:
      - bearerAuth: []
  /visits:
    post:
      tags:
      - Visit
      operationId: newVisits
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/VisitDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /visit:
    post:
      tags:
      - Visit
      operationId: newVisit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VisitDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitDTO'
      security:
      - bearerAuth: []
  /usersettings:
    post:
      tags:
      - User Settings
      operationId: newUserSetting
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSettingDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSettingDTO'
      security:
      - bearerAuth: []
  /users/groups/{group_code}:
    post:
      tags:
      - Users
      operationId: setGroupMenu
      parameters:
      - name: group_code
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UserMenuItemDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
    delete:
      tags:
      - Users
      operationId: deleteGroup
      parameters:
      - name: group_code
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /therapies:
    post:
      tags:
      - Therapies
      operationId: newTherapy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TherapyRowDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TherapyRowDTO'
      security:
      - bearerAuth: []
  /therapies/replace:
    post:
      tags:
      - Therapies
      operationId: replaceTherapies
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/TherapyRowDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TherapyRow'
      security:
      - bearerAuth: []
  /therapies/meds-out-of-stock:
    post:
      tags:
      - Therapies
      operationId: getMedicalsOutOfStock
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/TherapyDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicalDTO'
      security:
      - bearerAuth: []
  /therapies/from-rows:
    post:
      tags:
      - Therapies
      operationId: getTherapies
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/TherapyRowDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TherapyDTO'
      security:
      - bearerAuth: []
  /therapies/from-row:
    post:
      tags:
      - Therapies
      operationId: getTherapy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TherapyRowDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TherapyDTO'
      security:
      - bearerAuth: []
  /stockmovements/discharge:
    post:
      tags:
      - Stock Movements
      operationId: newMultipleDischargingMovements
      parameters:
      - name: ref
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MovementDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /stockmovements/charge:
    post:
      tags:
      - Stock Movements
      operationId: newMultipleChargingMovements
      parameters:
      - name: ref
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MovementDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /sms:
    get:
      tags:
      - SMS
      operationId: getAll
      parameters:
      - name: dateFrom
        in: query
        required: true
        schema:
          type: string
      - name: dateTo
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SmsDTO'
      security:
      - bearerAuth: []
    post:
      tags:
      - SMS
      operationId: saveSms
      parameters:
      - name: split
        in: query
        required: false
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmsDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /sms/delete:
    post:
      tags:
      - SMS
      operationId: deleteSms
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SmsDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /pricesothers:
    get:
      tags:
      - others price
      operationId: getPricesOtherss
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PricesOthersDTO'
      security:
      - bearerAuth: []
    post:
      tags:
      - others price
      operationId: newPricesOthers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PricesOthersDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricesOthersDTO'
      security:
      - bearerAuth: []
  /pricelists:
    get:
      tags:
      - Price Lists
      operationId: getPriceLists
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PriceListDTO'
      security:
      - bearerAuth: []
    post:
      tags:
      - Price Lists
      operationId: newPriceList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PriceListDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceListDTO'
      security:
      - bearerAuth: []
  /pregnanttreatmenttypes:
    get:
      tags:
      - Pregnant Treatment Types
      operationId: getPregnantTreatmentTypes
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PregnantTreatmentTypeDTO'
      security:
      - bearerAuth: []
    post:
      tags:
      - Pregnant Treatment Types
      operationId: newPregnantTreatmentType
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PregnantTreatmentTypeDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PregnantTreatmentTypeDTO'
      security:
      - bearerAuth: []
  /permissions:
    get:
      tags:
      - permissions
      operationId: retrieveAllPermissions
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PermissionDTO'
      security:
      - bearerAuth: []
    post:
      tags:
      - permissions
      operationId: insertPermission
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PermissionDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionDTO'
      security:
      - bearerAuth: []
  /patientvaccines:
    post:
      tags:
      - Patient Vaccines
      operationId: newPatientVaccine
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientVaccineDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatientVaccineDTO'
      security:
      - bearerAuth: []
  /patients:
    get:
      tags:
      - Patients
      operationId: getPatients
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 80
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagePatientDTO'
      security:
      - bearerAuth: []
    post:
      tags:
      - Patients
      operationId: newPatient
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatientDTO'
      security:
      - bearerAuth: []
  /operationtypes:
    get:
      tags:
      - Operations Types
      operationId: getOperationTypes
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OperationTypeDTO'
      security:
      - bearerAuth: []
    post:
      tags:
      - Operations Types
      operationId: newOperationType
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationTypeDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationTypeDTO'
      security:
      - bearerAuth: []
  /operations:
    get:
      tags:
      - Operations
      operationId: getOperations
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OperationDTO'
      security:
      - bearerAuth: []
    post:
      tags:
      - Operations
      operationId: newOperation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationDTO'
      security:
      - bearerAuth: []
  /operations/rows/search/opd:
    post:
      tags:
      - Operations
      operationId: getOperationRowsByOpd
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpdDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OperationRowDTO'
      security:
      - bearerAuth: []
  /opds:
    post:
      tags:
      - Opds
      operationId: newOpd
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpdDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpdDTO'
      security:
      - bearerAuth: []
  /opds/rows:
    post:
      tags:
      - Opds
      operationId: newOpdWithOperationRow
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpdWithOperatioRowDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpdWithOperatioRowDTO'
      security:
      - bearerAuth: []
  /medicalstockward/movements:
    post:
      tags:
      - Medical Stock Ward
      operationId: newMovementWard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MovementWardDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /laboratories:
    get:
      tags:
      - Laboratories
      operationId: getLaboratory
      parameters:
      - name: oneWeek
        in: query
        required: true
        schema:
          type: boolean
      - name: page
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: size
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageLabWithRowsDTO'
      security:
      - bearerAuth: []
    post:
      tags:
      - Laboratories
      operationId: newLaboratory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabWithRowsDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /laboratories/insertList:
    post:
      tags:
      - Laboratories
      operationId: newLaboratory2
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/LabWithRowsDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /laboratories/examRequest:
    get:
      tags:
      - Laboratories
      operationId: getLaboratoryExamRequest
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LaboratoryDTO'
      security:
      - bearerAuth: []
    post:
      tags:
      - Laboratories
      operationId: newExamRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LaboratoryDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /examtypes:
    get:
      tags:
      - Exam Types
      operationId: getExamTypes
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExamTypeDTO'
      security:
      - bearerAuth: []
    post:
      tags:
      - Exam Types
      operationId: newExamType
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExamTypeDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExamTypeDTO'
      security:
      - bearerAuth: []
  /exams:
    get:
      tags:
      - Exams
      operationId: getExams
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExamDTO'
      security:
      - bearerAuth: []
    post:
      tags:
      - Exams
      operationId: newExam
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExamDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExamDTO'
      security:
      - bearerAuth: []
  /examrows:
    get:
      tags:
      - Exam Rows
      operationId: getExamRows
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExamRowDTO'
      security:
      - bearerAuth: []
    post:
      tags:
      - Exam Rows
      operationId: newExamRow
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExamRowDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExamRowDTO'
      security:
      - bearerAuth: []
  /examinations:
    post:
      tags:
      - Examinations
      operationId: newPatientExamination
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientExaminationDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /bills:
    get:
      tags:
      - Bills
      operationId: searchBills_1
      parameters:
      - name: datefrom
        in: query
        required: true
        schema:
          type: string
      - name: dateto
        in: query
        required: true
        schema:
          type: string
      - name: patient_code
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BillDTO'
      security:
      - bearerAuth: []
    post:
      tags:
      - Bills
      operationId: newBill
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FullBillDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FullBillDTO'
      security:
      - bearerAuth: []
  /bills/search/by/payments:
    post:
      tags:
      - Bills
      operationId: searchBillsByPayments
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/BillPaymentsDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BillDTO'
      security:
      - bearerAuth: []
  /bills/search/by/item:
    post:
      tags:
      - Bills
      operationId: searchBills
      parameters:
      - name: datefrom
        in: query
        required: true
        schema:
          type: string
      - name: dateto
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillItemsDTO'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BillDTO'
      security:
      - bearerAuth: []
  /auth/logout:
    post:
      tags:
      - Login
      description: Logout the current user.
      operationId: logout
      responses:
        "200":
          description: OK
  /auth/login:
    post:
      tags:
      - Auth
      - Login
      description: Login with the given credentials.
      operationId: login_1
      parameters:
      - name: username
        in: query
        required: true
        schema:
          type: string
      - name: password
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
      security:
      - bearerAuth: []
  /admissions/discharge:
    post:
      tags:
      - Admissions
      operationId: dischargePatient
      parameters:
      - name: patientCode
        in: query
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdmissionDTO'
        required: true
      responses:
        "400":
          description: Bad Request
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /wardsNoMaternity:
    get:
      tags:
      - Wards
      operationId: getWardsNoMaternity
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WardDTO'
      security:
      - bearerAuth: []
  /wards/occupation/{code}:
    get:
      tags:
      - Wards
      operationId: getCurrentOccupation
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: integer
                format: int32
      security:
      - bearerAuth: []
  /wards/check/{code}:
    get:
      tags:
      - Wards
      operationId: checkWardCode
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /wards/check/maternity/{createIfNotExist}:
    get:
      tags:
      - Wards
      operationId: checkWardMaternityCode
      parameters:
      - name: createIfNotExist
        in: path
        required: true
        schema:
          type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /visit/patient/{patID}:
    get:
      tags:
      - Visit
      operationId: getVisit
      parameters:
      - name: patID
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VisitDTO'
      security:
      - bearerAuth: []
  /vaccinetype/check/{code}:
    get:
      tags:
      - Vaccine Type
      operationId: checkVaccineTypeCode
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /vaccines/type-code/{vaccineTypeCode}:
    get:
      tags:
      - Vaccines
      operationId: getVaccinesByVaccineTypeCode
      parameters:
      - name: vaccineTypeCode
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VaccineDTO'
      security:
      - bearerAuth: []
  /vaccines/check/{code}:
    get:
      tags:
      - Vaccines
      operationId: checkVaccineCode
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /usersettings/dashboard:
    get:
      tags:
      - User Settings
      operationId: getUserSettingDashboard
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSettingDTO'
      security:
      - bearerAuth: []
  /users/{username}:
    get:
      tags:
      - Users
      operationId: getUserByName
      parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDTO'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Users
      operationId: deleteUser
      parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /users/permissions:
    get:
      tags:
      - Users
      operationId: retrievePermissionsByCurrentLoggedInUser
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LitePermissionDTO'
      security:
      - bearerAuth: []
  /users/permissions/username/{username}:
    get:
      tags:
      - Users
      operationId: retrievePermissionsByUsername
      parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LitePermissionDTO'
      security:
      - bearerAuth: []
  /users/menus/{username}:
    get:
      tags:
      - Users
      operationId: getMenu
      parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserMenuItemDTO'
      security:
      - bearerAuth: []
  /users/me:
    get:
      tags:
      - Users
      operationId: retrieveProfileByCurrentLoggedInUser
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileDTO'
      security:
      - bearerAuth: []
  /users/group-menus/{group_code}:
    get:
      tags:
      - Users
      operationId: getGroupMenu
      parameters:
      - name: group_code
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserMenuItemDTO'
      security:
      - bearerAuth: []
  /therapies/{code_patient}:
    get:
      tags:
      - Therapies
      operationId: getTherapyRows
      parameters:
      - name: code_patient
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TherapyRowDTO'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Therapies
      operationId: deleteAllTherapies
      parameters:
      - name: code_patient
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /suppliers/{id}:
    get:
      tags:
      - Suppliers
      operationId: getSuppliers_1
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierDTO'
      security:
      - bearerAuth: []
  /stockmovements:
    get:
      tags:
      - Stock Movements
      operationId: getMovements
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MovementDTO'
      security:
      - bearerAuth: []
  /stockmovements/{ref}:
    get:
      tags:
      - Stock Movements
      operationId: getMovements_1
      parameters:
      - name: ref
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MovementDTO'
      security:
      - bearerAuth: []
  /stockmovements/lot/{med_code}:
    get:
      tags:
      - Stock Movements
      operationId: getLotByMedical
      parameters:
      - name: med_code
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LotDTO'
      security:
      - bearerAuth: []
  /stockmovements/filter/v2:
    get:
      tags:
      - Stock Movements
      operationId: getMovements_2
      parameters:
      - name: med_code
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: med_type
        in: query
        required: false
        schema:
          type: string
      - name: ward_id
        in: query
        required: false
        schema:
          type: string
      - name: mov_type
        in: query
        required: false
        schema:
          type: string
      - name: mov_from
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: mov_to
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: lot_prep_from
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: lot_prep_to
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: lot_due_from
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: lot_due_to
        in: query
        required: false
        schema:
          type: string
          format: date-time
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MovementDTO'
      security:
      - bearerAuth: []
  /stockmovements/filter/v1:
    get:
      tags:
      - Stock Movements
      operationId: getMovements_3
      parameters:
      - name: ward_id
        in: query
        required: true
        schema:
          type: string
      - name: from
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        required: true
        schema:
          type: string
          format: date-time
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MovementDTO'
      security:
      - bearerAuth: []
  /stockmovements/critical/check:
    get:
      tags:
      - Stock Movements
      operationId: alertCriticalQuantity
      parameters:
      - name: med_code
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: qty
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /reports/exams-list:
    get:
      tags:
      - Reports
      operationId: printExamsListPdf
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  format: byte
      security:
      - bearerAuth: []
  /reports/diseases-list:
    get:
      tags:
      - Reports
      operationId: printDiseasesListPdf
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  format: byte
      security:
      - bearerAuth: []
  /pricelists/prices:
    get:
      tags:
      - Price Lists
      operationId: getPrices
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PriceDTO'
      security:
      - bearerAuth: []
  /pricelists/duplicate/{id}:
    get:
      tags:
      - Price Lists
      operationId: copyList
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /pricelists/duplicate/byfactor/{id}:
    get:
      tags:
      - Price Lists
      operationId: copyByFactorAndStep
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: factor
        in: query
        required: true
        schema:
          type: number
          format: double
      - name: step
        in: query
        required: true
        schema:
          type: number
          format: double
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /permissions/userGroupCode/{userGroupCode}:
    get:
      tags:
      - permissions
      operationId: retrievePermissionsByUserGroupcode
      parameters:
      - name: userGroupCode
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PermissionDTO'
      security:
      - bearerAuth: []
  /permissions/name/{name}:
    get:
      tags:
      - permissions
      operationId: retrievePermissionByName
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionDTO'
      security:
      - bearerAuth: []
  /patientvaccines/week:
    get:
      tags:
      - Patient Vaccines
      operationId: getPatientVaccines
      parameters:
      - name: oneWeek
        in: query
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PatientVaccineDTO'
      security:
      - bearerAuth: []
  /patientvaccines/progyear/{year}:
    get:
      tags:
      - Patient Vaccines
      operationId: getProgYear
      parameters:
      - name: year
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: integer
                format: int32
      security:
      - bearerAuth: []
  /patientvaccines/filter:
    get:
      tags:
      - Patient Vaccines
      operationId: getPatientVaccinesByDatesRanges
      parameters:
      - name: vaccineTypeCode
        in: query
        required: true
        schema:
          type: string
      - name: vaccineCode
        in: query
        required: true
        schema:
          type: string
      - name: dateFrom
        in: query
        required: true
        schema:
          type: string
          format: date
      - name: dateTo
        in: query
        required: true
        schema:
          type: string
          format: date
      - name: sex
        in: query
        required: true
        schema:
          type: string
      - name: ageFrom
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: ageTo
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PatientVaccineDTO'
      security:
      - bearerAuth: []
  /patients/search:
    get:
      tags:
      - Patients
      operationId: searchPatient
      parameters:
      - name: firstName
        in: query
        required: false
        schema:
          type: string
          default: ""
      - name: secondName
        in: query
        required: false
        schema:
          type: string
          default: ""
      - name: birthDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: address
        in: query
        required: false
        schema:
          type: string
          default: ""
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PatientDTO'
      security:
      - bearerAuth: []
  /patients/nextcode:
    get:
      tags:
      - Patients
      operationId: getPatientNextCode
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: integer
                format: int32
      security:
      - bearerAuth: []
  /patients/merge:
    get:
      tags:
      - Patients
      operationId: mergePatients
      parameters:
      - name: mergedcode
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: code2
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /patients/cities:
    get:
      tags:
      - Patients
      operationId: getPatientCities
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      security:
      - bearerAuth: []
  /patients/all:
    get:
      tags:
      - Patients
      operationId: getPatientAll
      parameters:
      - name: code
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatientDTO'
      security:
      - bearerAuth: []
  /operations/search/type:
    get:
      tags:
      - Operations
      operationId: getOperationByTypeDescription
      parameters:
      - name: typeDescription
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OperationDTO'
      security:
      - bearerAuth: []
  /operations/rows/search/patient:
    get:
      tags:
      - Operations
      operationId: getOperationRowsByPatient
      parameters:
      - name: patientCode
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OperationRowDTO'
      security:
      - bearerAuth: []
  /operations/rows/search/admission:
    get:
      tags:
      - Operations
      operationId: getOperationRowsByAdmt
      parameters:
      - name: admissionId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OperationRowDTO'
      security:
      - bearerAuth: []
  /opds/weekly:
    get:
      tags:
      - Opds
      operationId: getOpdToDayOrWeek
      parameters:
      - name: oneWeek
        in: query
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OpdDTO'
      security:
      - bearerAuth: []
  /opds/search:
    get:
      tags:
      - Opds
      operationId: getOpdByDates
      parameters:
      - name: dateFrom
        in: query
        required: true
        schema:
          type: string
      - name: dateTo
        in: query
        required: true
        schema:
          type: string
      - name: diseaseTypeCode
        in: query
        required: false
        schema:
          type: string
      - name: diseaseCode
        in: query
        required: false
        schema:
          type: string
      - name: ageFrom
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: ageTo
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 200
      - name: sex
        in: query
        required: false
        schema:
          type: string
          default: A
      - name: newPatient
        in: query
        required: false
        schema:
          type: string
          default: A
      - name: patientCode
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 80
      - name: paged
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageOpdDTO'
      security:
      - bearerAuth: []
  /opds/patient/{pcode}:
    get:
      tags:
      - Opds
      operationId: getOpdByPatient
      parameters:
      - name: pcode
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OpdWithOperatioRowDTO'
      security:
      - bearerAuth: []
  /opds/last/{patientCode}:
    get:
      tags:
      - Opds
      operationId: getLastOpd
      parameters:
      - name: patientCode
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpdDTO'
      security:
      - bearerAuth: []
  /opds/check/progyear:
    get:
      tags:
      - Opds
      operationId: isExistOpdNum
      parameters:
      - name: opdNum
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: year
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearerAuth: []
  /opds/ProgYear/{year}:
    get:
      tags:
      - Opds
      operationId: getProgYear_1
      parameters:
      - name: year
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: integer
                format: int32
      security:
      - bearerAuth: []
  /medstockmovementtype/{code}:
    get:
      tags:
      - Medical Stock Movement Type
      operationId: getMovementType
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovementTypeDTO'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Medical Stock Movement Type
      operationId: deleteMedicalDsrStockMovementType
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
[...]
